* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 50px;
	color: rgb(250,150,0);
	background-color: black;
	text-align: center;
	line-height: 50px;
}

nav {

	width: 100%;
	height: 50px;
	text-align: center;
	float: left;


}

nav a {

	display: block;
	width: 25%;
	height: 100%;
	float: left;
	text-decoration: none;
	color: rgb(100,55,78);
	background-color: blue;
	font-size: 20px;
	line-height: 50px;
	font-weight: bold;

}

#slika {
	width: 100%;
	height: auto;

}

.blok {
	width: 33.33%;
	height: 100px;
	float: left;
	background-color: red;
}




@media only screen and (min-width: 641px) and (max-width: 1000px){
	nav a {
		background-color: grey;
	}
}


@media only screen and (max-width: 640px) {

	header {
		background-color: blue;
		color: white;

	}

	nav a {
		width: 100%;
		height: 25%;
		background-color: green;
	}

	nav {

		height: 200px;
	}

	.blok {

		width: 100%;
		margin-top: 10px;
		background-color: yellow;
	}
}

